* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.heading {
    text-align: center;
    display: relative;
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.logo {
    height: 40px;
}

.scores {
    display: inline-block;
    padding: 0 35px;
    font-size: 1.5rem;
}

.board {
  position: relative;
  width: 300px;
  height: 300px;
  border: 1px solid #000000;
  border-right: 2px solid #000000;
}

.board-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.board-cell {
  width: 100px;
  height: 100px;
  border: 1px solid #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
}

.result {
  position: absolute;
  top: -5px;
  left: -5px;
  display: none;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  color: #000000;
  font-size: 2.5rem;
  font-weight: bold;
  opacity: 0.7;
  width: 310px;
  height: 310px;
}